:root {
  --main-color: #323842;
  --sidebar-color: #404652;
  --topbar-color: #4a515f;
  --accent: #5e6677;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgrey
}

input {
  border: none !important
}

::placeholder{
  color:rgb(172, 172, 172)
}
::-webkit-input-placeholder{
  color:rgb(172, 172, 172)
}
:-moz-placeholder{
  color:rgb(172, 172, 172)
}
::-moz-placeholder{
  color:rgb(172, 172, 172)
}
:-ms-input-placeholder{
  color:rgb(172, 172, 172)
}

input:disabled {
  background-color: inherit !important;
}

textarea {
  resize: none;
  border: none !important;
  background-color: #58606e !important;
  color: white !important
}
textarea:read-only {
  background-color: var(--topbar-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img:before {
  background-image: url(./pics/cross.png);
}

.info-container input {
  background-color: #58606e ;
}

input {
  color: white !important;
}

input:disabled {
  background-color: inherit !important;
}

input:focus {
  color: black !important;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  color: white;
}

.Chats-container {
  min-height: 100vh;
  width: 400px;
  background-color: var(--sidebar-color);
}

.Chats-container.m {
  z-index: 3;
  position: fixed;
  top: 0;
  left: -450px;
  min-height: 100vh;
  width: 400px;
  box-shadow: 10px 0 .5rem rgba(29, 33, 39, 0.548);
  background-color: var(--sidebar-color);
  transition: .3s;
}

.mobile-menu-button {
  position: fixed;
  top: 20px;
  left: 10px;
  height: 40px;
  width:40px;
}

.Chats-userprofile-container {
  background-color: var(--topbar-color);
  width:100%;
  height: 80px;
  font-size: 25px;
  display: flex;
  flex-flow: row nowrap;
  vertical-align: middle;
  align-items: center
}

.userprofile-link {
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
  background-color: transparent;
  position: relative;
}

.userprofile-link::after {
  content: '';
  position: absolute;
  left: 290px; top: 0;
  width: 40px;
  height: 80px;

  background: -moz-linear-gradient(left, rgba(255, 204, 0, 0), var(--topbar-color) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 204, 0, 0), var(--topbar-color) 100%);
  background: -o-linear-gradient(left, rgba(255, 204, 0, 0), var(--topbar-color) 100%);
  background: -ms-linear-gradient(left, rgba(255, 204, 0, 0), var(--topbar-color) 100%);
  background: linear-gradient(to right, rgba(255, 204, 0, 0), var(--topbar-color) 100%);
 }

 .m .userprofile-link::after {
  content: '';
  position: absolute;
  left: 310px; top: 0;
  width: 40px;
  height: 80px;

  background: -moz-linear-gradient(left, rgba(255, 204, 0, 0), var(--topbar-color) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 204, 0, 0), var(--topbar-color) 100%);
  background: -o-linear-gradient(left, rgba(255, 204, 0, 0), var(--topbar-color) 100%);
  background: -ms-linear-gradient(left, rgba(255, 204, 0, 0), var(--topbar-color) 100%);
  background: linear-gradient(to right, rgba(255, 204, 0, 0), var(--topbar-color) 100%);
 }

.Chat {
  margin: 10px;
  border-radius: 10px;
  background-color: var(--accent);
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.chat-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.Chat-elements-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.Chat-info-container {
  width:100%;
  height: 80px;
  font-size: 25px;
  background-color: var(--topbar-color);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.Chat-info-link {
  cursor: pointer;
}

.Chat-input-container {
  max-width:100%;
  max-height: 60px;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
}

.Chat-input {
  background-color: #58606e;
  width: 100%;
}

.Chat-history {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  height: calc(100vh - 140px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}


.Message {
  width: fit-content;
  height:fit-content;
  max-width: 80%;
  margin: 10px 10px 10px 100px;
  padding: 0 10px 0 0; 
  border-radius: 10px;
  background-color: #58606e;
  display: flex;
  flex-flow: row nowrap;
}

.Message.m {
  max-width: 95%;
  margin: 10px 10px 10px 30px;
}

.Message-text-container img, audio, video {
  max-height: 700px;
}

.Message.UM {
  background-color: #8b94a5;
  margin: 10px 100px 10px 10px;
  align-self: flex-start;
}
.Message.UM.m {
  margin: 10px 30px 10px 10px;
}

.Message-text-container {
  display: flex;
  flex-flow: column nowrap;
}

.avatar {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
}

.Message-username {
  font-size: 25px;
}

.Message-datetime {
  font-size: 15px;
  color: #c2c2c2;
  margin-left: 10px;
}

.Message-text {
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.SampleText {
  background-color: #58606e;
  border-radius: 10px;
  display: ruby;
  margin: auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding: 5px 10px;
}

.info-container {
  background-color: var(--topbar-color);
}

.info-fields-container {
  top:0;
  right:0;
  bottom:0;
  left:0;
  width: 60%;
  margin: 10px auto;
  background-color: var(--accent);
  border-radius: 10px;
  padding: 2em;
}

.info-fields-container label, button, div {
  font-size: 20px;
  color: white;
}

.info-fields-container div {
  font-size: 30px;
  color: white;
}



.info-container input:disabled {
  background-color: #2d3138;
  color: white;
}

.modal-content {
  border-radius: 10px !important;
}

.modal-header {
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 6%;
  margin: 0 auto;
  border-bottom-color: #323842;
  font-size: 25px
}

.pic-modal-dialog {
  width: fit-content;
  height: 80%;
}

.TransparentBackground{
  background-color: transparent;
}

.list-group-item {
  display: flex;
}
.list-group-item input {
  font-size: 20px;
}